- $this->layout('cp:layout')

.col-lg-9
  .ibox
    .ibox-title
      %label.label.label-success.pull-right = $count
      %h3 = $currentMenu->title
    .ibox-content
      partial: 'cp:pager'
      %table.table.table-striped
        %thead
          %tr
            %th Active
            %th Name
            %th Created At
            %th Updated At
            %th Actions
        %tbody
          - foreach ($pager->getCurrentItems() as $brand)
            %tr(id="brand-#{$brand->id()}")
              %td
                %label.label{:class => ($brand->active ? 'label-success' : 'label-warning')}
                  - if ($brand->active)
                    Yes
                  - else
                    No
              %td = $brand->name
              %td.entry-date(data-time="#{$brand->createdAt}" data-order="#{$brand->createdAt}")
              %td.entry-date(data-time="#{$brand->updatedAt}" data-order="#{$brand->updatedAt}")
              %td
                - $httpPath = 'cp.soc.item'
                - $attributes = ['nextProcessor' => 'brand', 'action' => 'edit', 'id' => $brand->id]
                - $httpPath = $this->httpPath($httpPath, $attributes)
                %a.btn.btn-primary.btn-sm(href="#{$httpPath}")
                  %i.fa.fa-edit
                  Edit
                - if ($user->hasPermission('cp.soc.brand.delete'))
                  - $httpPath = 'api.soc.item'
                  - $attributes = ['nextProcessor' => 'brand', 'action' => 'delete', 'id' => $brand->id]
                  - $httpPath = $this->httpPath($httpPath, $attributes)
                  %a.btn.btn-danger.trash-data.btn-sm(href="#{$httpPath}")
                    %i.fa.fa-trash
                    Delete
      partial: 'cp:pager'
.col-lg-3
  .ibox
    .ibox-title Filter's
    .ibox-content
      %form
        .form-group
          %label(for="brandsSelect")
            Brand
          %select#brandsSelect.form-control.select2-multiple(name="filter[id]" style="width:100%")
            %option(disabled selected) None
        .form-group
          %button.btn.btn-success Submit
          %a.btn.btn-default(onclick="Url.removeQuery(); location.reload();") Reset

- $assets::pushJs('/js/cp/soc/brand/list.jsx')