- $this->layout('cp:layout')

.col-lg-9
  .ibox
    .ibox-title
      %h3 New Brand
    .ibox-content

      .tabs-container
        .tabs-right
          %ul.nav.nav-tabs
            %li.active
              %a(data-toggle="tab" href="#tab-base") Base
            %li
              %a(data-toggle="tab" href="#tab-last-activity") Last activity
          .tab-content

            #tab-base.tab-pane.active
              .panel-body
                %form(method="POST")
                  .form-group.form-group-lg
                    %label.control-label(for="brandName")
                      Name
                    %input#brandName.form-control.text-uppercase(type="text" name="name" value="#{$brand->name}")

                  .hr-line-dashed

                  %div

                    .col-lg-6

                      .form-group.form-group-lg
                        %input#isCarbonBrand.wbs-checkbox(type="checkbox" name="isCarbon" checked="#{(bool)$brand->isCarbon}")
                        %label(for="isCarbonBrand")
                          Using carbon fiber technology

                      .form-group.form-group-lg
                        %input#isMultipleBrand.wbs-checkbox(type="checkbox" name="isMultiple" checked="#{(bool)$brand->isMultiple}")
                        %label(for="isMultipleBrand")
                          Multiple Brand

                    .col-lg-6

                      .form-group.form-group-lg
                        %input#isOffRoadBrand.wbs-checkbox(type="checkbox" name="isOffRoad" checked="#{(bool)$brand->isOffRoad}")
                        %label(for="isOffRoadBrand")
                          Off-Road

                      .form-group.form-group-lg
                        %input#activeBrand.wbs-checkbox(type="checkbox" name="active" checked="#{(bool)$brand->active}")
                        %label(for="activeBrand")
                          Active


                  -#.hidden
                  #multipleBrandInputs

                    .form-group.form-group-lg
                      %label.control-label(for="brandWebGroup")
                        Web Group
                      %input#brandWebGroup.form-control.text-uppercase(type="text" name="webGroup" value="#{$brand->webGroup}")

                    .form-group.form-group-lg
                      %label.control-label(for="brandsBrands")
                        Brands in group
                      %input#brandsBrands.form-control.text-uppercase(type="text" name="brandsBrands")

                  .hr-line-dashed
                  .form-group(align="center")
                    %button.btn.btn-primary.btn-lg
                      %i.fa.fa-save
                      Submit

            #tab-last-activity.tab-pane
              .panel-body
                %table.table
                  %thead
                    %tr
                      %th User (Login)
                      %th Type
                      %th Data
                      %th Created At
                  %tbody
                    partial: 'cp:pager'
                    - foreach ($pager->getCurrentItems() as $log)
                      %tr(id="log-#{$log->id}")
                        %td
                          - $logUser = $log->user()
                          - $urlProfile = 'cp.sou.user@profile.' . $logUser->id
                          - $urlData = \Project\Extension\Util::httpWithURL($urlProfile)
                          - $httpPath = $this->httpPath($urlData['url'], $urlData['attributes'])
                          %a(href="#{$httpPath}")
                            = $_($logUser->login)
                        %td
                          - $classLabel = 'label-success'
                          - if ($log->type === 'updated')
                            - $classLabel = 'label-warning'
                          - else if ($log->type === 'deleted')
                            - $classLabel = 'label-danger'
                          %label{:class => ['label', $classLabel]} = $_($log->type)
                        %td
                          - echo $log->data
                        %td.entry-date(data-time="#{$log->createdAt}")
                    partial: 'cp:pager'

.col-lg-3(align="center")
  %label(for="brandLogo")
    %img.img-thumbnail(src="https://placeholdit.imgix.net/~text?txtsize=24&txt=210×210&w=210&h=210")
  %form#logoUpload.hidden(method="post")
    %input(type="hidden" name="id" value="#{$brand->id}")
    %input#brandLogo(type="file" name="logo" onchange="$(this).parent().submit();")