- $this->layout('cp:layout')

.col-lg-9
  .ibox
    .ibox-title
      %h3
        Edit Brand
        %label.label.label-info.pull-right
          = $_($item->name)
    .ibox-content

      .tabs-container
        .tabs-right
          %ul.nav.nav-tabs
            %li.active
              %a(data-toggle="tab" href="#tab-base") Base
            %li
              %a(data-toggle="tab" href="#tab-social") Social
            %li
              %a(data-toggle="tab" href="#tab-heading") Heading
            %li
              %a(data-toggle="tab" href="#tab-dealer") Dealer
            %li
              %a(data-toggle="tab" href="#tab-collection") Collection
            %li
              %a(data-toggle="tab" href="#tab-address") Address
            - if ($user->hasPermission('cp.log'))
              %li
                %a(data-toggle="tab" href="#tab-last-activity")
                  %label.label.label-info.pull-right = $logCount
                  Last activity
          .tab-content

            #tab-base.tab-pane.active
              .panel-body
                %form(method="POST" action="/api/soc/brand/#{$item->id}" data-updated="brand")
                  .form-group.form-group-lg
                    %label.control-label(for="brandName")
                      Name
                    %input#brandName.form-control.text-uppercase(type="text" name="name" value="#{$item->name}")

                  .hr-line-dashed

                  .form-group.form-group-lg
                    %label.control-label(for="brandWeb")
                      Web site
                    %input#brandWeb.form-control(type="text" name="web" value="#{$item->web}")

                  .hr-line-dashed

                  %div.grid

                    .col-lg-6

                      .form-group.form-group-lg
                        %input#isCarbonBrand.wbs-checkbox(type="checkbox" name="isCarbon" checked="#{(bool)$item->isCarbon}")
                        %label(for="isCarbonBrand")
                          Using carbon fiber technology

                      .form-group.form-group-lg
                        %input#isMultipleBrand.wbs-checkbox(type="checkbox" name="isMultiple" checked="#{!!$item->isMultiple}")
                        %label(for="isMultipleBrand")
                          Multiple Brand

                    .col-lg-6

                      .form-group.form-group-lg
                        %input#isOffRoadBrand.wbs-checkbox(type="checkbox" name="isOffRoad" checked="#{!!$item->isOffRoad}")
                        %label(for="isOffRoadBrand")
                          Off-Road

                      .form-group.form-group-lg
                        %input#activeBrand.wbs-checkbox(type="checkbox" name="active" checked="#{!!$item->active}")
                        %label(for="activeBrand")
                          Active

                  %div#multipleBrandInputs(class="#{ ( $item->isMultiple ? '' : 'hidden' ) }")

                    .form-group.form-group-lg
                      %label.control-label(for="brandTitleGroup")
                        Title Group
                      %input#brandTitleGroup.form-control(type="text" disabled="#{!$item->isMultiple}" name="titleGroup" value="#{$item->titleGroup}")

                    .form-group.form-group-lg
                      %label.control-label(for="brandWebGroup")
                        Web Group
                      %input#brandWebGroup.form-control(type="text" disabled="#{!$item->isMultiple}" name="webGroup" value="#{$item->webGroup}")

                    .form-group.form-group-lg
                      %label.control-label(for="brands")
                        Brands in group
                      %select#brands.form-control.input-lg.wbs-select2.select2-multiple(name="brands[]" disabled="#{!$item->isMultiple}" multiple style="width:100%")
                        - foreach ($items as $_brand)
                          - $hasDelete = $item->id == $_brand->parentId
                          - $hasNotDelete = $_brand->id == $item->parentId
                          - $currentLvl = ($_brand->parentId && $item->parentId == $_brand->parentId)
                          - $currentObject = $_brand->id == $item->id
                          - $selected = !$currentObject && ($hasDelete || $hasNotDelete || $currentLvl)
                          %option(value="#{$_brand->id}" selected="#{$selected}" data-delete="#{$hasDelete || !$_brand->parentId}" data-yourself="#{$currentObject}") =$_($_brand->name)

                  .hr-line-dashed

                  .form-group(align="center")
                    %button.btn.btn-primary.btn-lg
                      %i.fa.fa-save
                      Submit

            #tab-social.tab-pane
              partial: 'cp:soc/brand/edit.tabs/social'

            #tab-heading.tab-pane
              partial: 'cp:soc/brand/edit.tabs/heading'

            #tab-dealer.tab-pane
              partial: 'cp:soc/brand/edit.tabs/dealer'

            #tab-collection.tab-pane
              partial: 'cp:soc/brand/edit.tabs/collection'

            #tab-address.tab-pane
              partial: 'cp:soc/brand/edit.tabs/address'

            - if ($user->hasPermission('cp.log'))
              #tab-last-activity.tab-pane
                .panel-body
                  %table.table.table-bordered
                    %thead
                      %tr
                        %th User (Login)
                        %th Type
                        %th Model
                        %th Data
                        %th Created At
                    %tbody
                      - foreach ($pager->getCurrentItems() as $log)
                        %tr(id="log-#{$log->id}")
                          %td
                            - $logUser = $log->user()
                            - if ($logUser)
                              - $urlProfile = 'cp.sou.user@profile.' . $logUser->id
                              - $urlData = \Project\Extension\Util::httpWithURL($urlProfile)
                              - $httpPath = $this->httpPath($urlData['url'], $urlData['attributes'])
                              %a(href="#{$httpPath}")
                                = $_($logUser->login)
                            - else
                              bot
                          %td
                            - $classLabel = 'label-success'
                            - if ($log->type === 'updated')
                              - $classLabel = 'label-warning'
                            - else if ($log->type === 'deleted')
                              - $classLabel = 'label-danger'
                            %label{:class => ['label', $classLabel]} = $_($log->type)
                          %td = $log->model
                          %td
                            - $data = json_decode($log->data)
                            - foreach ($data as $name => $value)
                              .grid
                                - $value = $_($value)
                                = $name . ' = '
                                %span(style="white-space: nowrap; overflow: hidden;" )
                                  - $dots = '..'
                                  - if (mb_strlen($value) < 25)
                                    - $dots = ''
                                  = mb_substr($value, 0, 25) . $dots
                          %td.entry-date(data-time="#{$log->createdAt}" data-order="#{$log->createdAt}")

partial:'cp:soc/brand/preview'

- $assets::pushJs('/js/cp/upload/image-brand.js')
- $assets::pushJs('/js/cp/soc/brand/edit.js')

<script async defer src="/js/cp/soc/brand/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIEtS2ncgpT5WGXLuMtqjABoCbZDKQu6k&libraries=places&callback=initAutocomplete"></script>

:javascript

  $(function () {

    $('#isMultipleBrand').change(function () {
      if ($(this).prop('checked')) {
        $('#multipleBrandInputs').removeClass('hidden').find('input,select').prop('disabled', false);
      } else {
        $('#multipleBrandInputs').addClass('hidden').find('input,select').prop('disabled', true);
      }
    });

    $('#brands').on('select2:selecting', function (event) {

      var $current = $(event.params.args.data.element);

      var isNotYourSelf = $current.data('yourself') === undefined;

      if (!isNotYourSelf) {
        swal(
            'It isn\'t possible to add!',
            'You try to add yourself!',
            'error'
        );
      }

      return isNotYourSelf;

    }).on('select2:unselecting', function (event) {
      var $current = $(event.params.args.data.element);
      var isDelete = $current.data('delete') !== undefined;

      if (!isDelete) {
        swal(
            'Not delete!',
            'Removal of communications is possible only from the parent.',
            'error'
        );
      }

      return isDelete;
    });

  });