- $this->layout('cp:layout')

.col-lg-9
  .ibox
    .ibox-title
      %h3
        Edit Brand
        %label.label.label-info.pull-right
          = $_($brand->name)
    .ibox-content

      .tabs-container
        .tabs-right
          %ul.nav.nav-tabs
            %li.active
              %a(data-toggle="tab" href="#tab-base") Base
            %li
              %a(data-toggle="tab" href="#tab-social") Social
            %li
              %a(data-toggle="tab" href="#tab-heading") Heading
            %li
              %a(data-toggle="tab" href="#tab-dealer") Dealer
            %li
              %a(data-toggle="tab" href="#tab-collection") Collection
            - if ($user->hasPermission('cp.log'))
              %li
                %a(data-toggle="tab" href="#tab-last-activity")
                  %label.label.label-info.pull-right = $logCount
                  Last activity
          .tab-content

            #tab-base.tab-pane.active
              .panel-body
                %form(method="PATCH" action="/api/soc/brand/#{$brand->id}")
                  .form-group.form-group-lg
                    %label.control-label(for="brandName")
                      Name
                    %input#brandName.form-control.text-uppercase(type="text" name="name" value="#{$brand->name}")

                  .hr-line-dashed

                  .form-group.form-group-lg
                    %label.control-label(for="brandWeb")
                      Web site
                    %input#brandWeb.form-control(type="text" name="web" value="#{$brand->web}")

                  .hr-line-dashed

                  %div.grid

                    .col-lg-6

                      .form-group.form-group-lg
                        %input#isCarbonBrand.wbs-checkbox(type="checkbox" name="isCarbon" checked="#{(bool)$brand->isCarbon}")
                        %label(for="isCarbonBrand")
                          Using carbon fiber technology

                      .form-group.form-group-lg
                        %input#isMultipleBrand.wbs-checkbox(type="checkbox" name="isMultiple" checked="#{!!$brand->isMultiple}")
                        %label(for="isMultipleBrand")
                          Multiple Brand

                    .col-lg-6

                      .form-group.form-group-lg
                        %input#isOffRoadBrand.wbs-checkbox(type="checkbox" name="isOffRoad" checked="#{!!$brand->isOffRoad}")
                        %label(for="isOffRoadBrand")
                          Off-Road

                      .form-group.form-group-lg
                        %input#activeBrand.wbs-checkbox(type="checkbox" name="active" checked="#{!!$brand->active}")
                        %label(for="activeBrand")
                          Active

                  %div#multipleBrandInputs(class="#{ ( $brand->isMultiple ? '' : 'hidden' ) }")

                    .form-group.form-group-lg
                      %label.control-label(for="brandWebGroup")
                        Web Group
                      %input#brandWebGroup.form-control(type="text" disabled="#{!$brand->isMultiple}" name="webGroup" value="#{$brand->webGroup}")

                    .form-group.form-group-lg
                      %label.control-label(for="brands")
                        Brands in group
                      %select#brands.form-control.input-lg.wbs-select2.select2-multiple(name="brands[]" disabled="#{!$brand->isMultiple}" multiple style="width:100%")
                        - foreach ($brands as $_brand)
                          - $hasDelete = $brand->id == $_brand->parentId
                          - $hasNotDelete = $_brand->id == $brand->parentId
                          - $currentLvl = ($_brand->parentId && $brand->parentId == $_brand->parentId)
                          - $currentObject = $_brand->id == $brand->id
                          - $selected = !$currentObject && ($hasDelete || $hasNotDelete || $currentLvl)
                          %option(value="#{$_brand->id}" selected="#{$selected}" data-delete="#{$hasDelete || !$_brand->parentId}" data-yourself="#{$currentObject}") =$_($_brand->name)

                  .hr-line-dashed

                  .form-group(align="center")
                    %button.btn.btn-primary.btn-lg
                      %i.fa.fa-save
                      Submit

            #tab-social.tab-pane
              partial: 'cp:soc/brand/edit.tabs/social'

            #tab-heading.tab-pane
              partial: 'cp:soc/brand/edit.tabs/heading'

            #tab-dealer.tab-pane
              partial: 'cp:soc/brand/edit.tabs/dealer'

            #tab-collection.tab-pane
              partial: 'cp:soc/brand/edit.tabs/collection'

            - if ($user->hasPermission('cp.log'))
              #tab-last-activity.tab-pane
                .panel-body
                  %table.table.table-bordered
                    %thead
                      %tr
                        %th User (Login)
                        %th Type
                        %th Model
                        %th Data
                        %th Created At
                    %tbody
                      - foreach ($pager->getCurrentItems() as $log)
                        %tr(id="log-#{$log->id}")
                          %td
                            - $logUser = $log->user()
                            - $urlProfile = 'cp.sou.user@profile.' . $logUser->id
                            - $urlData = \Project\Extension\Util::httpWithURL($urlProfile)
                            - $httpPath = $this->httpPath($urlData['url'], $urlData['attributes'])
                            %a(href="#{$httpPath}")
                              = $_($logUser->login)
                          %td
                            - $classLabel = 'label-success'
                            - if ($log->type === 'updated')
                              - $classLabel = 'label-warning'
                            - else if ($log->type === 'deleted')
                              - $classLabel = 'label-danger'
                            %label{:class => ['label', $classLabel]} = $_($log->type)
                          %td = $log->model
                          %td
                            - $data = json_decode($log->data)
                            - foreach ($data as $name => $value)
                              .grid
                                - $value = $_($value)
                                = $name . ' = '
                                %span(style="white-space: nowrap; overflow: hidden;" )
                                  - $dots = '..'
                                  - if (mb_strlen($value) < 25)
                                    - $dots = ''
                                  = mb_substr($value, 0, 25) . $dots
                          %td.entry-date(data-time="#{$log->createdAt}" data-order="#{$log->createdAt}")

:css

  .upload-link {
    color: #36c;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    background-color: #fff;
    background-color: rgba(255,255,255,.85);
    padding: 3px 8px;
  }

  .upload-link__txt {
    z-index: 1;
    position: relative;
    border-bottom: 1px dotted #36c;
  }

  .upload-link:hover .upload-link__txt {
    /*color: #f00;*/
    /*border-bottom-color: #f00;*/
  }

  .upload-link__inp {
    top: -10px;
    right: -40px;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 50px;
  }

  .upload {
    width: 220px;
    height: 220px;
    /*border: 2px solid #ccc;*/
    position: relative;
    /*background-color: #fff;*/
  }

  .upload__preview {
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }

  .upload__progress {
    color: #fff;
  }

  .upload__link, .upload__progress {
    bottom: 5%;
    width: 100%;
    position: absolute;
    text-align: center;
  }

  .upload__progress,
  .upload_active .upload__link { display: none; }

  .upload_active .upload__preview { opacity: .75; }
  .upload_active .upload__progress { display: block; }

.col-lg-3(align="center")
  %form.thumbnail.upload{:name => "userpic"}
    #preview.upload__preview
    .upload__progress Uploading…
    .upload__link
      %a.upload-link.js-fileapi-wrapper
        %span.btn.btn-warning.upload-link__txt Browse pic
        %input.upload-link__inp{:accept => "image/*", :name => "photo", :type => "file"}

  -##uploaderForm
  -#  %input#uploader.hidden(type="file" name="filedata" accept="image/*")
  -#  %img.thumbnail(src="//placehold.it/220x220" width="220")
  -#  %label.btn.btn-warning(for="uploader")
  -#    %i.fa.fa-download
  -#    upload image
  -#%form(method="post")
    %input(type="hidden" name="id" value="#{$brand->id}")
    %input.hidden#brandLogo(type="file" name="logo")
    -#.form-group
      -#%label(for="brandLogo")
      -#  %img.img-rounded(src="https://placeholdit.imgix.net/~text?txtsize=24&txt=210×210&w=210&h=210")
    .form-group(align="center")
      %button.btn.btn-success.btn-lg(disabled) Upload

- $assets::pushJs('/js/cp/soc/brand/edit.js')
- $assets::pushJs('/js/cp/upload/image.js')
- $assets::pushJs('/node_modules/fileapi/dist/FileAPI.min.js')

:javascript

  $(function () {

    $('#isMultipleBrand').change(function () {
      if ($(this).prop('checked')) {
        $('#multipleBrandInputs').removeClass('hidden').find('input,select').prop('disabled', false);
      } else {
        $('#multipleBrandInputs').addClass('hidden').find('input,select').prop('disabled', true);
      }
    });

    $('#brands').on('select2:selecting', function (event) {

      var $current = $(event.params.args.data.element);

      var isNotYourSelf = $current.data('yourself') === undefined;

      if (!isNotYourSelf) {
        swal(
            'It isn\'t possible to add!',
            'You try to add yourself!',
            'error'
        );
      }

      return isNotYourSelf;

    }).on('select2:unselecting', function (event) {
      var $current = $(event.params.args.data.element);
      var isDelete = $current.data('delete') !== undefined;

      if (!isDelete) {
        swal(
            'Not delete!',
            'Removal of communications is possible only from the parent.',
            'error'
        );
      }

      return isDelete;
    });

    // $('#brandLogo').filer({
    //   limit: 1,
    //   showThumbs: true,
    //   appendTo: function (event) {
    //     console.log(event, 'appendTo');
    //   },
    //   onSelect: function (event) {
    //     console.log(event, 'onSelect');
    //   },
    //   theme: filerObject.theme,
    //   dragDrop: filerObject.dragDrop,
    //   changeInput: filerObject.changeInput,
    //   extensions: filerObject.extensionsImage,
    // });
  });