- $this->layout('app:cp/layout')

.row
  .col-md-12.col-lg-12
    .ibox
      .ibox-title
        .pull-right
          (
          %strong = $pager->itemCount()
          )
          users
      .ibox-content
        .table-responsive
          - foreach ($pager->getCurrentItems() as $_user)
            .col-md-1.col-lg-1
              - $profileEmail = '/svg/no-avatar.svg'
              - if ($user->email)
                - $profileEmail = 'https://secure.gravatar.com/avatar/' . md5($user->email) . '?s=48'
              %img.img-circle(src="#{$profileEmail}")
            .col-md-4.col-lg-4
              %h3
                - $httpPath = 'app.cp.item'
                - $attributes = ['cpProcessor' => 'user', 'action' => 'profile', 'id' => $_user->id]
                - $httpPath = $this->httpPath($httpPath, $attributes)
                %a.text-navy(href="#{$httpPath}")
                  = $_($_user->name . ' ' . $_user->lastname)
              %p.small
                Login:
                = $_($_user->login)
              %p.small
                Email:
                = $_($_user->email)
              %p.small
                Role:
                = $_($_user->role()->title)
            -#.col-md-7.col-lg-7