- $this->layout('app:cp/layout')

.row
  .col-md-12.col-lg-12.col-xs-12.col-sm-12
    .ibox
      .ibox-title
        Users
        .pull-right
          %strong.label.label-primary = $pager->itemCount()
      .ibox-content
        .table-responsive
          - foreach ($pager->getCurrentItems() as $_user)
            %img.col-md-1.img-circle(src="#{$_user->getAvatar(96)}")
            .col-md-11
              %h3
                - $httpPath = 'app.cp.item'
                - $attributes = ['cpProcessor' => 'user', 'action' => 'profile', 'id' => $_user->id]
                - $httpPath = $this->httpPath($httpPath, $attributes)
                %a.text-navy(href="#{$httpPath}")
                  = '#' . $_user->id() . ' ' . $_($_user->name . ' ' . $_user->lastname)
              %p.small
                Login:
                = $_($_user->login)
              %p.small
                Email:
                = $_($_user->email)
              %p.small
                Role:
                = $_($_user->role()->title)