- $this->layout('cp:layout')

.col-lg-9
  .ibox
    .ibox-title
      %label.label.label-success.pull-right = $count
      %h3 = $currentMenu->title
    .ibox-content
      partial: 'cp:pager'
      %table.table.table-striped
        %thead
          %tr
            %th id
            %th Avatar
            %th Active
            %th login
            %th role
            -#%th Created At
            %th Updated At
            %th Actions
        %tbody
          - foreach ($pager->getCurrentItems() as $item)
            %tr(id="user-#{$item->id()}")
              %td = $item->id()
              %td
                %img.img-circle(width="70px" src="#{$item->imageThumbs()}")
              %td
                %label.label{:class => ($item->active ? 'label-success' : 'label-warning')}
                  - if ($item->active)
                    Yes
                  - else
                    No
              %td = $item->login
              %td = $item->role()->title
              -#%td.entry-date(data-time="#{$item->createdAt}" data-order="#{$item->createdAt}")
              %td.entry-date(data-time="#{$item->updatedAt}" data-order="#{$item->updatedAt}")
              %td
                - $httpPath = 'cp.sou.item'
                - $attributes = ['nextProcessor' => 'user', 'action' => 'edit', 'id' => $item->id]
                - $httpPath = $this->httpPath($httpPath, $attributes)
                %a.btn.btn-primary.btn-sm(href="#{$httpPath}")
                  %i.fa.fa-edit
                  Edit
                - if ($user->hasPermission('cp.sou.user.delete'))
                  - $httpPath = 'api.sou.item'
                  - $attributes = ['nextProcessor' => 'user', 'action' => 'delete', 'id' => $item->id]
                  - $httpPath = $this->httpPath($httpPath, $attributes)
                  %a.btn.btn-danger.trash-data.btn-sm(href="#{$httpPath}")
                    %i.fa.fa-trash
                    Delete
      partial: 'cp:pager'