- $this->layout('cp:layout')

.col-lg-9
  .ibox
    .ibox-title
      %label.label.label-success.pull-right = $count
      %h3 = $currentMenu->title
    .ibox-content
      partial: 'cp:pager'
      %table.table.table-striped
        %thead
          %tr
            %th Logo
            %th Active
            %th Brand
            %th Collection
            %th Name
            %th Style
            %th Is Custom
            -#%th Is Retired
            -#%th Created At
            %th Updated At
            %th Actions
        %tbody
          - foreach ($pager->getCurrentItems() as $item)
            %tr(id="brand-#{$item->id()}")
              %td
                %img.img-circle(width="70px" src="#{$item->imageThumbs()}")
              %td = $item->active ? 'Yes' : 'No'
              %td = $item->brand()->name
              - $collection = $item->collection()
              - if ($collection)
                %td = $collection->name
              - else
                %td -
              %td = $item->name
              - $style = (string)$item->style()
              %td = empty($style) ? '-' : $style
              %td = $item->isCustom ? 'Yes' : 'No'
              -#%td = $item->isRetired ? 'Yes' : 'No'
              -#%td.entry-date(data-time="#{$item->createdAt}" data-order="#{$item->createdAt}")
              %td.entry-date(data-time="#{$item->updatedAt}" data-order="#{$item->updatedAt}")
              %td
                - $httpPath = 'cp.sow.item'
                - $attributes = ['nextProcessor' => 'wheel', 'action' => 'edit', 'id' => $item->id]
                - $httpPath = $this->httpPath($httpPath, $attributes)
                %a.btn.btn-primary.btn-sm(href="#{$httpPath}")
                  %i.fa.fa-edit
                  Edit
                - if ($user->hasPermission('cp.sow.wheel.delete'))
                  - $httpPath = 'api.sow.item'
                  - $attributes = ['nextProcessor' => 'wheel', 'action' => 'delete', 'id' => $item->id]
                  - $httpPath = $this->httpPath($httpPath, $attributes)
                  %a.btn.btn-danger.trash-data.btn-sm(href="#{$httpPath}")
                    %i.fa.fa-trash
                    Delete
      partial: 'cp:pager'
-#.col-lg-3
  .ibox
    .ibox-title Filter's
    .ibox-content
      %form
        .form-group
          %label(for="brandsSelect")
            Bolt Pattern
          %select#brandsSelect.form-control.select2-multiple(name="filter[id]" wheel="width:100%")
            %option(disabled selected) None
        .form-group
          %button.btn.btn-success Submit
          %a.btn.btn-default(onclick="Url.removeQuery(); location.reload();") Reset

-#- $assets::pushJs('/js/cp/soc/brand/list.js')