- $this->layout('cp:layout')

.col-lg-9
  .ibox
    .ibox-title
      %h3
        Edit Wheel
        %label.label.label-info.pull-right
          = $_($wheel->name)
    .ibox-content
      %form(method="POST" action="/api/sow/collection" data-created)
        .form-group.form-group-lg
          %label.control-label(for="brandName")
            Brand
          %input#brandName.form-control.text-uppercase(type="text" name="brandId" value="#{$wheel->brand()->name}" )
        - $collection = $wheel->collection()
        - if ($collection)
          .form-group.form-group-lg
            %label.control-label(for="collectionName")
              Collection
            %input#collectionName.form-control.text-uppercase(type="text" name="collectionName" value="#{$collection->name}" )
        .form-group.form-group-lg
          %label.control-label(for="Name")
            Name
          %input#name.form-control.text-uppercase(type="text" name="name" value="#{$wheel->name}" )

:css

  .upload-link {
    color: #36c;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    /*background-color: #fff;*/
    /*background-color: rgba(255,255,255,.85);*/
    padding: 3px 8px;
  }

  .upload-link__txt {
    z-index: 1;
    position: relative;
    border-bottom: 1px dotted #36c;
  }

  .upload-link:hover .upload-link__txt {
    /*color: #f00;*/
    /*border-bottom-color: #f00;*/
  }

  .upload-link__inp {
    top: -10px;
    right: -40px;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 50px;
  }

  .upload {
    width: 220px;
    height: 220px;
    /*border: 2px solid #ccc;*/
    position: relative;
    /*background-color: #fff;*/
  }

  .upload__preview {
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }

  .upload__progress {
    color: #fff;
  }

  .upload__link, .upload__progress {
    bottom: 5%;
    width: 100%;
    position: absolute;
    text-align: center;
  }

  .upload__progress,
  .upload_active .upload__link { display: none; }

  .upload_active .upload__preview { opacity: .75; }
  .upload_active .upload__progress { display: block; }

.col-lg-3(align="center")
  %form.thumbnail.upload{:name => "userpic"}
    %input(type="hidden" name="preview" value="1")
    %input(type="hidden" name="id" value="#{$wheel->id}")
    %input(type="hidden" name="userId" value="#{$user->id}")
    #preview.upload__preview
    .upload__progress Uploading…
    .upload__link
      %a.upload-link.js-fileapi-wrapper
        %span.btn.btn-warning.upload-link__txt Browse
        %input.upload-link__inp{:accept => "image/*", :name => "photo", :type => "file"}

-#- $assets::pushJs('/js/cp/soc/wheel/edit.js')
- $assets::pushJs('/js/cp/upload/image.js')
- $assets::pushJs('/js/cp/upload/image-wheel.js')
- $assets::pushJs('/node_modules/fileapi/dist/FileAPI.min.js')

:javascript

  FileAPI.Image("#{$wheel->thumbsLogo()}")
    .preview($(preview).width(), $(preview).height())
    .get(function (err, image) {
      if (!err) {
        var preview = document.getElementById('preview');
        preview.innerHTML = '';
        preview.appendChild(image);
      }
    });
